.chatroomWrapper.ant-layout.ant-layout-has-sider  {
    margin-top: 5px;
    min-height: 600px;
    min-width: 1100px;
    // What are Viewport-Percentage Lengths?
    // The viewport-percentage lengths are relative to the size of the initial containing block. 
    // When the height or width of the initial containing block is changed, they are scaled accordingly.
    // These units are vh (viewport height), vw (viewport width), vmin (viewport minimum length) and vmax (viewport maximum length).
    // 100vh - 64px(header) - 5px(margin-top)
    height: calc(100vh - 69px);
    overflow-y: hidden;

    .chatSider {
        background: ghostwhite;
        padding: 5px;
        min-width: 200px!important;
        
        .messagePanel {
            position: relative;
            border-style: none;
            background: ghostwhite;
            height: 100%;

            .ant-card-bordered {
                border-style: none;
            }

            .ant-card-body {
                padding: 0;

                .buttonBar {
                    position: absolute;
                    width: 100%;
                    background: ghostwhite;

                    .buttonList {
                        float: right;
                        margin-top: 2px;
                        
                        .ant-btn {
                            color: #1890ff;
                            background: rgb(224, 234, 255)	;
                        }

                        .ant-btn:hover {
                            color: #ffffff;
                            background: #1890ff;
                        }
                    }  
                }
                
                .messageList {
                    position: absolute;
                    width: 100%;
                    top: 33px;
                    bottom: 0;
                    overflow: scroll;
                    background: ghostwhite;

                    .aMessage {
                        
                        // 设置文字单行显示，末尾加省略号
                        .ant-card-meta-description {
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                        }
                    }
                }
            }
        }

        .ant-card.ant-card-bordered.ant-card-contain-grid.sider {
            background: ghostwhite;
            border-style: none;
        }
        
        .searchPanel {

            .ant-card-body {
                padding: 0;

                .searchHeader {
                    padding: 10px 0;

                    .ant-typography {
                        text-align: center;
                        float: left;
                        width: 60%;
                        margin-left: 20%;
                        margin-bottom: 0;
                        cursor: default;
                    }

                    .ant-btn.ant-btn-text.ant-btn-sm {
                        float: right;
                        text-align: right;
                        width: 20%;
                        color: #000;

                    }

                    .ant-btn.ant-btn-text.ant-btn-sm:hover {
                        background: #ffffff;
                        color: rgba(0,0,0,.25);
                    }
                }

                .searchField {

                    .ant-input-affix-wrapper {
                        background: ghostwhite;
                        color: #c0c0c0;

                        .ant-input {
                            background: ghostwhite;
                        }
                    }

                    .ant-input-group-addon {
                        display: none;
                    }
                }

                .searchBody {
                    border-style: none;
                }
            }
        }
    }

    .chatPanel {
    background: white;
    min-width: 545px;

        .messages {
            position: relative;
            height: 100%;
            margin: 0;
            border-style: none;

            .ant-card-body {
                padding: 0;

                .message-list {
                    width: 100%;
                    position: absolute;
                    border-style: none;
                    top: 0;
                    bottom: 113px;
                    overflow: scroll;

                    .message-row {
                        clear: both;
                        margin: 5px;
                        border-style: none;
                        
                        .received-message {
                            float: left;
                            max-width: 70%;
                            background: ghostwhite;
                            border-radius: 10px;
                            padding: 10px;
                        }
                        
                        .received-avatar {
                            float: left;
                            margin-right: 5px;
                        }

                        .sent-message {
                            float: right;
                            max-width: 70%;
                            background: #1890ff;
                            border-radius: 10px;
                            padding: 10px;
                            color: white;
                        }
                        
                        .sent-message::selection {
                            background: #ffffff;
                            color: #1890ff;
                        }

                        .sent-avatar {
                            float: right;
                            margin-left: 5px;
                        }
                       
                    }
                }

                .editorPanel {
                    position: absolute;
                    z-index: 1;
                    width: 100%;
                    border-radius: 10px;
                    bottom: 0;
                    padding: 10px;
                    cursor: auto;

                    .editorOptions {
                        margin-top: 5px;
                        .anticon {
                            font-size: 15px;
                        }
                        .ant-btn:hover {
                            background-color: #1890ff;
                            color: #ffffff;

                            .anticon-smile::after {
                                content: ' 表情';
                            }
                            .anticon-file-image::after {
                                content: ' 图片';
                            }
                            .anticon-folder-open::after {
                                content: ' 文件';
                            }
                            .anticon-audio::after {
                                content: ' 语音';
                            }
                            .anticon-phone::after {
                                content: ' 语音通话';
                            }
                            .anticon-video-camera::after {
                                content: ' 视频通话';
                            }
                        }
                        
                        .ant-btn:focus {
                            background-color: #1890ff;
                            color: #ffffff;
                        }
                    }
    
                    .submitOptions {
                        margin-top: 5px;
                        float: right;
                    }
                }
            }
        }
    }
}